.DS_Store
xcuserdata/

/*.a
/*.o
/*.exe
/xdg-shell-client-protocol.h
/xdg-shell-protocol.c
/*.spv
/*.vert.h
/*.frag.h
/texture_*.h
/mesh_*.h
/font_*.h
/*.rgba
/*.png
/*.obj
/*.ttf
/modeler
/android/.idea/deploymentTargetSelector.xml
